body {
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fkincirimage.s3-ap-southeast-1.amazonaws.com%2Fproduction%2F2020-02%2Faa219252b2b3b956bc475298e96b35bc.jpg&imgrefurl=https%3A%2F%2Fkincir.com%2Fgame%2Fmobile-game%2Fmobile-legends-enggak-butuh-cowok-inilah-7-cewek-land-of-dawn-paling-gagah-perkasa-UvozQ5Bg24Mj&tbnid=s1unztG5D_zL0M&vet=10CJIBEDMoqwFqFwoTCLDIppSInvsCFQAAAAAdAAAAABAD..i&docid=hMkK1mFNln14LM&w=1300&h=500&q=bg%20karakter%20ml&ved=0CJIBEDMoqwFqFwoTCLDIppSInvsCFQAAAAAdAAAAABAD');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr{background-color: #f2f2f2}

th {
  background-color: #69b446;
  color: white;
}
button {
  background-color: #1eff29;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: #4CAF50; padding: 10px;}
.button3 {background-color: #f44336; padding: 10px;}
.button4 {border-radius: 12px;}
